.App {
  text-align: center;
  background-color: black;
}

.App-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}

.App-header {
  min-height: 5vh;
  padding: 3vw 0 0 3vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  font-weight: bold;
  color: lightgrey;
  .btn {
    background-color: transparent;
    border: none;
    color: gray;
    cursor: pointer;
  }
  .btn:hover {
    background-color: transparent;
  }
  .btn:focus {
    box-shadow: none;
  }
}

.App-body {
  min-height: 95vh;
  padding: 3vh 8vw 5vh 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  word-break: break-word;
  font-size: calc(8px + 2vmin);
  font-weight: 300;
  color: whitesmoke;
  h4{
    font-size: calc(12px + 2vmin);
    font-weight: 500;
    color: floralwhite;
    margin-bottom: 2vmin;
  }
  h5{
    font-size: calc(6px + 2vmin);
    font-weight: 400;
    color: gray;
    margin-bottom: 2vmin;
  }
  p {
    text-indent: 5vw;
    margin-top: 2vmin;
    margin-bottom: 2vmin;
  }
  table{
    margin-top: 2vmin;
    margin-bottom: 2vmin;
  }
  th {
    font-weight: 400;
    color: floralwhite;
  }
}

.Img-main {
  width: 80vw;
  margin-bottom: 5vmin;
}
