.App {
  text-align: center;
  background-color: black;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  .img-main {
    width: 100vw;
    margin-bottom: 10vmin;
  }
}

.App-preview {
  padding: 0 2vw 3vh 2vw;
  display: flex;
  align-items: start;
  text-align: start;
  word-break: break-word;
  font-size: calc(3px + 2vmin);
  font-weight: 300;
  color: gainsboro;
  margin: 0;
  .img-preview {
    width: 100%;
    margin-bottom: 2vmin;
    border-radius: 6px;
  }
  .img-name {
    margin-bottom: 3vmin;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.App-header {
  min-height: 5vh;
  padding: 3vw 0 0 3vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  font-weight: bold;
  color: lightgrey;
  .btn {
    background-color: transparent;
    border: none;
    color: gray;
    cursor: pointer;
  }
  .btn:hover {
    background-color: transparent;
  }
  .btn:focus {
    box-shadow: none;
  }
}

.App-body {
  min-height: 95vh;
  padding: 3vh 8vw 5vh 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  word-break: break-word;
  font-size: calc(8px + 2vmin);
  font-weight: 300;
  color: whitesmoke;
  .img-main {
    width: 80vw;
    margin-bottom: 5vmin;
  }
  h4{
    font-size: calc(12px + 2vmin);
    font-weight: 500;
    color: floralwhite;
    margin-bottom: 2vmin;
  }
  h5{
    font-size: calc(6px + 2vmin);
    font-weight: 400;
    color: gray;
    margin-bottom: 2vmin;
  }
  p {
    text-indent: 5vw;
    margin-top: 2vmin;
    margin-bottom: 2vmin;
  }
  table{
    margin-top: 2vmin;
    margin-bottom: 2vmin;
  }
  th {
    font-weight: 400;
    color: floralwhite;
  }
}
